@import "tailwindcss";

@theme inline {
  --color-brand-1: #31365d;
  --color-brand-2: #5e477f;
  --color-brand-3: #a064ad;
  --color-brand-4: #f98ae1;
  --color-brand-5: #ffc4f4;
  
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background-color: var(--color-brand-1);
  color: var(--color-brand-5);
}
